.control-your-devices {
    flex: 1;
    position: relative;
    display: inline-block;
    max-width: 100%;
  }
  .control-your-devices-wrapper {
    width: 805px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .light {
    width: 338px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    min-width: 338px;
    max-width: 100%;
  }
  .toggle-switch-child {
    align-self: stretch;
    width: 100px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-white);
    transition: left 0.3s ease;
  }
  .toggle-switch {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-81xl);
    background-color: var(--color-dimgray);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-2xl) var(--padding-7xl) var(--padding-10xl);
  }
  .light-parent,
  .toggle-switch-instance {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .toggle-switch-instance {
    height: 159px;
    width: 390px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-4xs) 0 0;
    box-sizing: border-box;
    min-width: 390px;
  }
  .light-parent {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
  .fan,
  .switch {
    position: relative;
  }
  .fan {
    width: 338px;
    display: inline-block;
    max-width: 100%;
  }
  .switch {
    align-self: stretch;
  }
  .fan-parent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-18xl);
    min-width: 288px;
    max-width: 100%;
  }
  .toggle-switch-item {
    align-self: stretch;
    width: 100px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-white);
  }
  .toggle-switch1 {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-81xl);
    background-color: var(--color-dimgray);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-2xl) var(--padding-7xl) var(--padding-10xl);
  }
  .toggle-switch-inner {
    align-self: stretch;
    width: 100px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-white);
  }
  .toggle-switch-parent,
  .toggle-switch2 {
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .toggle-switch2 {
    border-radius: var(--br-81xl);
    background-color: var(--color-dimgray);
    flex-direction: row;
    padding: var(--padding-2xl) var(--padding-7xl) var(--padding-10xl);
  }
  .toggle-switch-parent {
    flex-direction: column;
    gap: 65px;
  }
  .frame-wrapper2 {
    height: 370px;
    width: 390px;
    flex-direction: column;
    padding: var(--padding-8xs) 0 0;
    box-sizing: border-box;
    min-width: 390px;
    max-width: 100%;
  }
  .desktop-2,
  .frame-parent4,
  .frame-section,
  .frame-wrapper2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent4 {
    align-self: stretch;
    flex-direction: row;
    gap: 75px;
    max-width: 100%;
  }
  .desktop-2,
  .frame-section {
    flex-direction: column;
    color: var(--color-white);
  }
  .frame-section {
    align-self: stretch;
    gap: var(--gap-36xl);
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-77xl);
    font-family: var(--font-rhodium-libre);
  }
  .desktop-2 {
    width: 100%;
    position: relative;
    background-color: var(--color-black);
    overflow: hidden;
    padding: 102px 228px 138px 304px;
    box-sizing: border-box;
    gap: 108px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: 70px;
    font-family: var(--font-righteous);
  }
  @media screen and (max-width: 1275px) {
    .light,
    .toggle-switch-instance {
      flex: 1;
    }
    .light-parent {
      flex-wrap: wrap;
      justify-content: center;
    }
    .frame-wrapper2 {
      flex: 1;
    }
    .frame-parent4 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1100px) {
    .frame-wrapper2,
    .light,
    .toggle-switch-instance {
      min-width: 100%;
    }
    .frame-parent4 {
      gap: var(--gap-18xl);
    }
  }
  @media screen and (max-width: 750px) {
    .control-your-devices {
      font-size: 56px;
    }
    .fan,
    .light,
    .switch {
      font-size: var(--font-size-29xl);
    }
    .desktop-2 {
      gap: 54px;
      padding-left: 152px;
      padding-right: 114px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .control-your-devices {
      font-size: 42px;
    }
    .fan,
    .light,
    .switch {
      font-size: var(--font-size-10xl);
    }
    .fan-parent {
      gap: var(--gap-lg);
    }
    .toggle-switch-parent {
      gap: 32px;
    }
    .frame-parent4 {
      gap: var(--gap-lgi);
    }
    .desktop-2,
    .frame-section {
      gap: var(--gap-8xl);
    }
    .desktop-2 {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  